{{!-- arquivo que mostra a postagem escolhida em uma pagina propria que mostra mais detalhes sobre o 
conteudo da postagem --}}

<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data da Publicaçao: {{postagem.data}}</small>
        <hr>
        <small>{{postagem.conteudo}}</small>
    </div>
</div>